<div class="d-flex justify-content-between">
    <div class="p-1">
        <div class="row">
            <div class="col-sm-2"><img width="128" src="assets/images/uget.png"></div>
            <div class="col-sm-8">
                <h1 id="title">
                    uGet Chrome Wrapper
                </h1>
                <p>Integrate the best FOSS download manager <b><a href="http://ugetdm.com/">uGet</a></b> with your favorite web browser in both Linux and Windows.</p>
            </div>
        </div>
    </div>
</div>