<!-- Services Section -->
    <section id="introduction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Introduction</h2>
                    <h3 class="section-subheading text-muted">We integrate the best download manager with the top most web browsers.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-arrow-circle-o-down fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">uGet</h4>
                    <p class="text-muted">uGet is an Open Source download manager application for GNU/Linux developed with GTK+, which also comes packaged as a portable Windows application.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-chrome fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Google Chrome, Chromium, Vivaldi & Opera</h4>
                    <p class="text-muted">The fast, secure, and free web browsers built for the modern web. uGet Integration extension is available for all these browsers.
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Linux & Windows</h4>
                    <p class="text-muted">This project is an attempt to fill the gap in download accelerators available for Linux. However, setup for Windows is available for people using uGet in Windows.</p>
                </div>
            </div>
        </div>
    </section>